.text {
  margin: 0 auto;
  max-width: 70%;
}
.subtitle {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #dc780b;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}

.suptitle {
  font-size: 16px;
  color: #adaaa6;
  margin-bottom: 60px;
}
